<web-app>
	<servlet>
		<servlet-class>MyDateTimeServlet</servlet-class>
		<servlet-name>MyDateTimeServlet</servlet-name>
	</servlet>

	<servlet-mapping>
		<servlet-name>MyDateTimeServlet</servlet-name>
		<url-pattern>/MyDateTimeServlet</url-pattern>
	</servlet-mapping>
	<!-- Client Information -->
	<servlet>
		<servlet-class>ClientInfoServlet</servlet-class>
		<servlet-name>ClientInfoServlet</servlet-name>
	</servlet>

	<servlet-mapping>
		<servlet-name>ClientInfoServlet</servlet-name>
		<url-pattern>/ClientInfoServlet</url-pattern>
	</servlet-mapping>

	<!-- User Information -->
	<servlet>
		<servlet-class>UserInfoServlet</servlet-class>
		<servlet-name>UserInfoServlet</servlet-name>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserInfoServlet</servlet-name>
		<url-pattern>/UserInfoServlet</url-pattern>
	</servlet-mapping>
</web-app>